* {
    box-sizing: border-box;
    /* border:  1px solid; */
}

body {
    background-color: rgb(3, 226, 255);
}

/* FACE */
.face {
    position: absolute;
    background-color: bisque;
    height: 150px;
    width: 150px;
    border-radius: 76px;
    margin-top: 50px;
    margin-left: 18px;
}

/* EYES */
.eye-container {
    display: flex;
    justify-content: center;
}

.eye {
    background-color: white;
    height: 45px;
    width: 45px;
    margin: 10px;
    border-radius: 25px;
}

/* PUPILS */
.pupil {
    background-color: black;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    margin: 10px 0px 10px 20px;
}

/* MOUTH */
.mouth {
    background-color: black;
    width: 100px;
    height: 45px;
    border-radius: 7px 7px 100px 100px;
    margin-left: 25px;
    margin-top: 20px;
}

.teeth-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.teeth {
    background-color: white;
    height: 30px;
    width: 16px;
    border: 1px solid;
    border-radius: 1.5px;
}